.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.app__header > h1 {
  color: rgb(255, 0, 0);
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

body {
  background-color: #f5f6fa;
}

.app__stats {
  display: flex;
  justify-content: space-around;
}

.app__left {
  flex: 0.8;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
  .app__left {
    margin-bottom: 20px;
  }
}

.app__dropdown {
  background: white;
}

.app__right {
  display: flex;
  flex-direction: column;
}

.livecases {
  margin-bottom: 20px;
}

.graph {
  height: 200px;
}
.graph > h3 {
  text-transform: capitalize;
  margin-bottom: 10px;
}

.app__graph {
  flex-grow: 1;
}

.app__information > h3 {
  color: #6a5d5d;
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.app__information > h3:last-of-type {
  margin-top: 1rem;
}
